@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap');

.login-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px 0px 0px;
  gap: 36px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  opacity: 1;
  background-color: #000814;
  height: auto;
}

/* Left Column - Login Form */
.login-left {
  max-width: 508px;
  height: 728px;
  padding: 32px;
  background-color: #000814;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 36px;
  left: 120px;
  top: 17px;
}
.content{
  width: 444px;
  height: 100px;
  gap: 12px;
}
.login-left .content h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color:  #F1F2FF;
  font-family: 'Inter';
  font-weight: 600;
  line-height: 38px;
}

.login-left .content p {
  font-size: 18px;
  font-weight: 400;
  color: #AFB2BF;
  font-family: 'Inter';
  line-height: 26px;
}
span{
  font-family: "Edu SA Beginner", cursive;
  color: #47A5C5;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.form{
  max-width: 444px;
  height: 198px;
  gap: 20px;
}
.upperText{
  
  font-size: 14px;
  font-weight: 400;
  color: #F1F2FF;
  font-family: 'Inter';
  line-height: 22px;
  margin-bottom: 10px;
  max-width: 444px;
  height: 22px;
}
.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #161D29;
  margin-bottom: 10px;
  ;
}

.forgot-password {
  background: none;
  border: none;
  color: #47A5C5;
  align-items: flex-end;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn {
  width: 107%;
  padding: 15px;
  background-color: #FFD60A;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.login-right {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 140px;
  margin-bottom: 170px;
  
}

.image {
  position: absolute;
  bottom: 0;
}

.image1 {
  width: 60%;
  right: 20px;
  bottom: 80px;
  z-index: 1;
}

.image2 {
  width: 60%;
  right: 7px;
  bottom: 70px;
  z-index: 0;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    padding-top: 220px; 
  }

  .login-left {
    width: 80%;
    height: auto;
    margin-left: 0px; 
    
  }

 
  .login-right {
    padding-top: 120px;
    position: relative;
    height: 200px;
    width: 50%; 
    gap: 10px; 
    margin-bottom: 20px;

  }

  .image1, .image2 {
    position: absolute;
    width: 80%; 
    max-width: 300px; 
    max-height: 300px;
    
  }

  .image1 {
    bottom: 50px;
    left: 30px; /* Adjust the left position to ensure overlap */
    z-index: 2;
  }

  .image2 {
    bottom: 30px;
    left: 50px; /* Ensure it overlaps with image1 */
    z-index: 1;
  }
}
