.image {
  position: absolute;
  width: 300px;
  height: auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.half-width {
  width: 45%;
}

.phone-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.national-code {
  width: 100px;
  height: 44px;
  padding: 12px;
  background-color: #161D29;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0px -1px 0px 0px #FFFFFF2E inset;
  border: none;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 1rem;
  margin-bottom: 8px;
  color: white;
}